* {
	padding: 0;
	margin: 0;
}


.data-top {
	position: absolute;
	top: 0;
	width: 100%;
	height: 10vh;
	display: block;
	background: linear-gradient(to right, #daf8fc,  #00BFFF);
}

.data-top-logo {
	position: absolute;
	width: 8vh;
	height: 8vh;
	background-image: url(../images/chinalogo.svg);
	background-size: 100% 100%;

}

.data-top-nav {
	position: absolute;
	top: 0;
	left: 18vw;
	width: 71vw;
	/* border: 1px solid black; */
	height: 60%;
}

.data-top-nav ul {
	position: absolute;
	width: 100%;
	height: 100%;
	list-style: none;
	display: flex;
}

.data-top-nav ul li {
	position: relative;
	width: 10%;
	height: 100%;
	/* border: 1px solid red; */
	margin-left: 5vw;
	line-height: 6vh;
}

.data-top-nav ul li a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	font-size: 1.6vw;
	color:#F0FFFF;
	text-align: center;
	transition: .5s;
	font-family: KaiTi;
}

.data-top-nav ul li a:hover {
	color:#ff3d41;
}

.data-top-nav ul li:nth-child(1) a {
	font-weight: 900;
	border-bottom: 0.3vh solid #1E90FF;
}


#data-image {
	position: absolute;
	/* 	left:40vw; */
	top: 10vh;
	width: 100%;
	height: 35vh;

	overflow: hidden;
}

#data-image img {
	width: 100%;
	height: 130%;
}

/* #date-image-table {
	position: absolute;
	top: 47vh;
	width: 100%;
	height: 33vh;
	border: 1px solid green;
} */

#data1-showdata-left {
	position: absolute;
	top: 47vh;
	width: 49vw;
	height: 45vh;

}

#data1-showdata-right {
	position: absolute;
	left: 50vw;
	top: 47vh;
	width: 48.5vw;
	height: 45vh;
	
}

#data-Progress-bar{
	position: absolute;
	top: 94vh;
	width: 100%;
	height: 80vh;
	
}