*{
	padding: 0;
	margin: 0;
}


#date-top{
	position: absolute;
	width: 100%;
	height: 8vh;
	border:1px solid red;
}

#data-image{
	position: absolute;
/* 	left:40vw; */
	top:8vh;
	width: 100%;
	height: 35vh;
	border:1px solid red;

}

#date-image-table{
	position: absolute;
	top: 43vh;
	width: 100%;
	height: 33vh;
	border:1px solid green;
}

#data-showdata-left{
	position: absolute;
	top: 76vh;
	width: 50vw;
	height: 45vh;
	border: 1px solid yellow;
}

#data-showdata-right{
	position: absolute;
	left: 50vw;
	top: 76vh;
	width: 50vw;
	height: 45vh;
	border: 1px solid blueviolet;
}

#data-show-title{
	
}

#date-show-list1{
	
}
#date-show-list2{
	
}
#date-show-list3{
	
}
#date-show-list4{
	
}
#date-show-list5{
	
}
#date-show-list6{
	
}








