* {
	margin: 0;
	padding: 0;
}

#news-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 7vh;
	border: 1px solid red;


}

#news-top-logo {
	position: absolute;
	top: 0;
	left: 1vw;
	background-image: url(../images/datachinaLOGO2.png);
	background-size: 100% 100%;
	width: 7vh;
	height: 7vh;
	border: 1px solid blue;
}

.news-top-nav {
	position: absolute;
	top: 0;
	left: 13vh;
	width: 20vw;
	height: 100%;
	border: 1px solid deepskyblue;
}



#news-center {
	position: absolute;
	left: 20vw;
	top: 15vh;
	width: 50vw;
	height: 300vh;
	border: 1px solid red;

}

.news-center-title {
	position: absolute;
	top: 1vw;
	left: 1vw;
	color: black;
	width: 80%;
	height: 4vw;
	border: 1px solid blue;
	transition: 1s;
}

.news-center-title:hover {
	left: 5vw;
}

.news-center-title span {
	font-size: 2.8vw;
	font-weight: 700;
	transition: 0.5s;
}

.news-center-title span:hover {
	color: deepskyblue;
}

.news-center-data {
	position: absolute;

	top: 6vw;
	left: 1vw;
	font-size: 1vw;
	width: 96%;
	height: 280vh;
	border: 1px solid blue;


}

#news-foot {
	position: absolute;
	top: 317vh;
	left: 20.5%;
	width: 50%;
	height: 15vh;
	border: 1px solid red;
}

.news-center-image1 {
	position: relative;
	top: 0;
	left: 1vw;
	width: 32vw;
	height: 35vw;
	border-radius: 0.7375rem;


	/* 
	border:1px solid red; */
}

.news-center-image1 img {
	width: 100%;
	height: 100%;
	border-radius: 0.7375rem;
}
